{% extends "base.html" %}

{% load i18n %}
{% load markup %}
{% block title %} {{ listname }} {% endblock %}

{% block content %}
    <p><span class="label badge-info" contenteditable="false">{{ listname }}</span></p>
    {% for log in articleList  %}
        <div>
            <h3><a href="/page/{{ log.slug }}/">{{ log.title|capfirst  }}</a></h3>
  	    <blockquote>
    	      <small>
	      <a href="/page/{{ log.slug }}/" title="{% trans "ReadMore" %}">
       	      <button class="btn btn-mini btn-info" type="button">{% trans "ReadMore" %}</button>
      	      </a>
              | ●{{ log.created|date:"F j, Y"}} 
              {% if log.is_valid %} 
              ●Tags: 
              {% for tag in log.tag_name.all %}
                <a href="/tagSearchList/{{ tag }}/"> 
                <span class="label badge-info" contenteditable="false">{{ tag }}</span>
                </a> 
              {% endfor %} 
              {% endif %} 
              </small>
            </blockquote>
        </div>
    {% endfor %}
    <hr>
    <div class="pagination pagination-centered pagination-small">
    <ul>
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a></li>
    {% else %}
        <li class="disabled"><a>{% trans 'Previous' %}</a></li>
    {% endif %}
    {% for p in page_range %}
        {% ifequal p page_obj.number %}
            <li class="active"><a title="{% trans 'Now' %}">{{ p }}</a></li>
        {% else %}
            {% ifequal 1 p %}
               <li><a href="/" title='Home'>{{ p }}</a></li>
            {% else %}
               <li><a href="?page={{ p }}{{ parameters }}" title='{% trans 'Page of ' %}{{ p }}'>{{ p }}</a></li>  
            {% endifequal %}
        {% endifequal %}
     {% endfor %} 

    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}{{ parameters }}">{% trans 'Next' %}</a></li>
    {% else %}
        <li class="disabled"><a>{% trans 'Next'%}</a></li>
    {% endif %}  
    </div>
{% endblock %}
